{% extends "base.html" %}

{% block title %}MeddoMap | Home {% endblock title %}

{% block content %}
{% load static %}

    <style>
        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{% static 'images/bg2.jpeg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7; /* Adjust the opacity level here */
            z-index: -1;
            
        }

        .plan-new{
            right: 35%;
            position: absolute;
            align-items: right;
        }

    </style>


    <!-- Body Content -->
    <div class="content-container">
        <div class="container">
            <h1>Welcome to Meddo Map!</h1>
                 <div class="plan-new">

                  <h2 class="">Where are you going next?</h2>
                  <div class="new-trip-button">
                    <a href= "{% url 'meddoapp:create_trip' %}"><button class="btn btn-warning" type="button">Plan a New Trip</button></a>
                  </div>
                </div>
            
        </div>
    </div>

{% endblock content %}


{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqOCodGn-7Cgc7gJxnLinHNsAZruE0WfA&libraries=places&callback=initMap" async defer></script>
{% endblock scripts %}
